<div class="header1 row-left" >
<div class="row-center">
    <mat-icon class="blue left-padding" true svgIcon="configuracion"></mat-icon>
    <div class="text">Configuración
    </div>
</div>
</div>
<div class="tarjeta">
    <app-botton-cruz></app-botton-cruz>

    <br>

    <div class=col-center>
        <div class="circlePic text"> <div class="imageProfile"> <img [src]=imageProfile alt="fran"></div>
        </div>
    </div>
    <br>

    <div class="row-left text">
        Nombre
    </div>
    <br>
    <div class="col-center">
        <div class="input">
            <input placeholder="Nuevo Nombre">
        </div>
    </div>
    <br>
    <br>
    <div class="row-left text">
        E-mail
    </div>
    <br>
    <div class="col-center">
        <div class="input">
            <input placeholder="Nuevo E-mail">
        </div>
    </div>
    <br>
    <br>
    <div class="row-left text">
        Contraseña
    </div>
    <br>
    <div class="col-center">
        <div class="input">
            <input placeholder="Nueva Contraseña">
        </div>
    </div>
    <br>

    <div class="col-center">
        <button class=" button-blue">Actualizar</button>
    </div>
</div>