<div class="row-center-nav navBar" >
    <div class="col-center " > 

        <div class="row-center-nav  " > 
            <div class="row-spaced-nav " >
                <div class="col-center iconoNavBar">
                <mat-icon class="icons material-icons"  [inline]='true'  svgIcon="grafica" routerLink="home"></mat-icon> 
                </div>
                
                <div class="col-center circle" >
                    <mat-icon class="anadirNavbar"  [inline]='true'  svgIcon="boton-anadir" routerLink="anadir"></mat-icon> 
                </div> 
                <div class="col-center iconoNavBar">
                    <mat-icon class="icons material-icons"  [inline]='true'  svgIcon="calendario" routerLink="dia"></mat-icon> 
                </div>
            </div>
    <!--         <div class="botonAnadir"></div>
    -->    
        </div>
    </div>
</div> 
