    <div class=" row-left marginTop10 "> 
        <div class=" text20 widthMenu  " >Favoritos</div>
    </div>

    <div class=" row-left-wrap" *ngIf="!isBorrando">
        <div class=" bordeAnadir marginTop10" *ngIf="isAnadiendo" (click)="isAnadiendo = false">
            <div class="textDarkSemi18  padding10">
            Has consumido <span class="textDarkSemi18Bold">{{anadiendo.name}}</span>, <a class="link">Deshacer</a>
            </div> 
            </div>
            <div class="favoriteCard  col-center textBlueSemi20 relative" *ngFor="let favorito of apiIngesta.listaFavoritos; let i = index" [ngClass]="favorito.class" (click)="consumirFavorito(i)" [style.background]="favorito.microscore[0].color">
               <div class="fondo-cerrar" (click)='quitarFavorito(i)'> <mat-icon class=" iconSizeGray  " svgIcon='close' ></mat-icon></div>
                    {{favorito.name}}
                    
                    <mat-chip-list aria-label="Fish selection" class="marginTop10" >
                        <mat-chip   class="chip-material">{{favorito.microscore[0].acronym}}</mat-chip>
                        <mat-chip   class="chip-material">{{favorito.microscore[1].acronym}}</mat-chip>

                      </mat-chip-list>


                
            </div>
    </div>

    <div class="col-center bordeEliminar marginTop10" *ngIf="isBorrando">
        <div class="textDarkSemi18 padding ">
            Seguro que quieres eliminar <span class="textDarkSemi18Bold">{{borrando.name}}</span>?
        </div>
        <div class="row-center textDarkSemi18 padding">
            <button  (click)="cancelarBorrado()" class="mybutton-gray">
                <div class=" textButton">
                    <div class="separador10" > </div> 
                    <div>cancelar</div> 
                </div> 
                
            </button>
                <div class="separador20px"></div>
            <button  (click)="quitarFavoritoDefinitivo()" class="mybutton-red">
                <div class=" textButton">
                    <div class="separador10" > </div> 
                    <div>eliminar</div> 
                </div> 
                
            </button>
           
        </div>
       
    </div>


    
