.favoriteCard{
    width: 146px;
    height: 122px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.1);

}

.row-left-wrap{
    display: flex;
    flex-direction: row;
    /* text-align:right; */
    /* align-self: left; */
    align-items: center;    /* alinea elementos horizontalmente en el centro de la fila*/
    /* justify-items: baseline; */
    justify-content: flex-start;    /* alinea elementos verticalmente a la izquierda */
    flex-wrap: wrap;
    
}
.link{
    text-decoration: none;
    color: #5ce1e6;
    font-family: dosis-regular;
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
}
.busqueda
{
    height: auto;
    margin: 0;
    width: 340px;
    border: solid 1px ;
}
.padding{
    padding: 20px;
}
.padding10{
    padding: 5px;
}
.bordeEliminar{
    width: 300px;
    border-radius: 20px;
    border: 2px solid #FF96A3 
}
.bordeAnadir{
    width: 330px;
    border-radius: 10px;
    border: 2px solid #5ce1e6;
}
.bordeInstrucciones{
    padding: 20px;
    width: 290px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid #8383833d;
    
}

.text{
    font-size: 28px;
    color: #667a92;
    text-align: center;
    font-family: dosis-bold;
    text-transform: capitalize;
  }

  .text20
  {
      font-size: 22px;
      color: #667a92;
      text-align: center;
      font-family: dosis-bold;
      text-transform: unset;
  }
  .textDarkSemi18
  {
      font-size: 18px;
      color: #667a92;
      text-align: center;
      font-family: dosis-semibold;
      text-transform: unset;
  }
  .textDarkSemi18Bold
  {
      font-size: 18px;
      color: #667a92;
      text-align: center;
      font-family: dosis-bold;
      text-transform: unset;
  }
  .textButton{
    width: fit-content;
    height: 34px;
    /* font-size: 16px;
    font-family: Dosis-semiBold;
    text-transform: uppercase; */
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
  }


.mybutton-blue{
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    border:3px;
    height: 34px;
    font-size: 16px;
    font-family: Dosis-semiBold;
    text-transform: uppercase;
    color:#667a92;
    background-color:#5ce1e6;
    border-radius: 10px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
  
.mybutton-blue:hover {
    background-color: white;
    box-shadow: 0px 15px 20px 5ce1e6;
    color: #5ce1e6;
    transform: translateY(-1px);
}
.mybutton-blue:-moz-suppressed {
    background-color: white;
    box-shadow: 0px 15px 20px 5ce1e6;
    color: #5ce1e6;
    transform: translateY(-1px);
}
.mybutton-red{
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    border:3px;
    height: 34px;
    font-size: 16px;
    font-family: Dosis-semiBold;
    text-transform: uppercase;
    color:#667a92;
    background-color:#FF96A3;
    border-radius: 10px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
  
.mybutton-red:hover {
    background-color: white;
    box-shadow: 0px 15px 20px 5ce1e6;
    color: #ff7484;
    transform: translateY(-1px);
}
.mybutton-red:-moz-suppressed {
    background-color: white;
    box-shadow: 0px 15px 20px 5ce1e6;
    color: #fc7080;
    transform: translateY(-1px);
}
.mybutton-gray{
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    border:3px;
    height: 34px;
    font-size: 16px;
    font-family: Dosis-semiBold;
    text-transform: uppercase;
    color:#667a92;
    background-color:#B2C1C6;
    border-radius: 10px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
.separador20px{
    width: 20px;
}
  
.mybutton-gray:hover {
    background-color: white;
    box-shadow: 0px 15px 20px 5ce1e6;
    color: #667a92;
    transform: translateY(-1px);
}
.mybutton-gray:-moz-suppressed {
    background-color: white;
    box-shadow: 0px 15px 20px 5ce1e6;
    color: #667a92;
    transform: translateY(-1px);
}



.mybutton-soft{
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    border:3px;
    height: 34px;
    font-size: 16px;
    font-family: Dosis-semiBold;
    text-transform: uppercase;
    color:rgba(102, 122, 146, 0.692);
    background-color:rgba(92, 225, 230, 0.644);
    border-radius: 10px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}



.mybutton-blue-white{
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    border:3px;
    height: 34px;
    font-size: 16px;
    font-family: Dosis-semiBold;
    text-transform: uppercase;
    color:white;
    background-color:#5ce1e6;
    border-radius: 10px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
  
.mybutton-blue-white:hover {
    background-color: white;
    box-shadow: 0px 15px 20px 5ce1e6;
    color: #667a92;
    transform: translateY(-1px);
}
.mybutton-blue-white:-moz-suppressed {
    background-color: white;
    box-shadow: 0px 15px 20px 5ce1e6;
    color: #667a92;
    transform: translateY(-7px);
}

.mybutton-blue-white:disabled{
    background-color:#B2C1C6;
    cursor: auto;
}
.mybutton-blue-white:disabled:hover{
    background-color:#B2C1C6;
    cursor: auto;
    color:white
}

  .fondo-cerrar{
      width: 30px;
      height: 25px;
      background-color: #F8FBFB;
      position: absolute;
      top: 3px;
      right: 3px;
      border-radius: 20px;
      display:flex;
      flex-direction: column;
      align-items: center;
    padding-top: 4px;

  }

.relative{
      position: relative;
  }
  .iconSizeGray
  {
      height: 14px;
      width: 14px;
      color: #B2C1C6;
      
  }
  .chip-material{
    width: fit-content;
    border: 30px;
    height: 20px;
    font-size: 12px;
    font-weight: 500;
    background-color:white;
    border-radius: 50px;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.1);
    
    outline: none;
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #667a92;
    margin-left: 5px;
}
.chip-material:hover{
 
    background-color:white;
 
}
  
