
.circle-cruz{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 500;
    background-color:white;
    border: none;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -25px;
    right: 15px;
    
}