.busqueda
{
    height: auto;
    margin: 0;
    border-radius: 30px;
    width: 340px;

}
.textBlueSemi22
{

  text-align: left;

}
.separador{
  width: 55%;
}
.menu-item-expandible
{
    width: 330px;
    height: auto;
}

.widtMenu
{
    width: inherit;
}
.text{
    font-size: 28px;
    color: #667a92;
    text-align: center;
    font-family: dosis-bold;
    text-transform: none;
  }
  .textBoldGray{
    font-size: 18px;
    color: #B2C1C6;
    font-family: dosis-bold;
    padding: 5px 0 5x 0;
  }
  .textsemiGray{
    font-size: 18px;
    color: #667a92;
    font-family: dosis-bold;
    padding: 10px 0 10px 0;
  }
  .textGuardarReceta
  {
    font-size: 20px;
    color: #667a92;
    text-align: center;
    font-family: dosis-bold;
    text-decoration: underline;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .textGuardarReceta:hover
  {
    font-size: 20px;
    color: #B2C1C6;
    text-align: center;
    font-family: dosis-bold;
    text-decoration: underline
  }

  .textSubtitle
  {
    font-size: 20px;
    color: #B2C1C6;
    text-align: center;
    font-family: dosis-regular;
    text-transform:lowercase;
  }
  .text20
{
    font-size: 22px;
    color: #667a92;
    text-align: center;
    font-family: dosis-bold;
    text-transform: none;
}
.text20Gray
{
    font-size: 20px;
    color: #B2C1C6;
    text-align: left;
    font-family: dosis-bold;
    width: 16px;
}
.boton-anadir
{
  width: 40px;
  height: 40px;
  text-decoration:none;
  border-radius:30%;
  border:solid 0.5px rgba(178, 193, 198, 0.281);
  background-color:white;
  color: #667a92;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  text-align:center;
  font-size: 22px;
  box-shadow: 1px 3px 8px rgba(84, 0, 0, 0.1);
  margin-top: 15px;
  margin-left: 10px;
 
}

.boton-anadir:active{
  position:relative;
  top:0.5px;
  outline: none;
}
.boton-anadir:focus
{
  outline: none;
}

.button-blue{
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  font-family: dosis-bold;
}


.boton-guardar
{
  width: 120px;
  height: 54px;
  text-decoration:none;
  border-radius:20px;
  border:solid 0px #87ffff;
  background-color: #5ce1e6;
  justify-content: center; 
  text-align:center;
  padding:10px 20px;
  font-size: 22px;


}
.boton-guardar:active{
  position:relative;
  top:0.5px;
  outline: none;
}
.boton-guardar:focus
{
  outline: none;
}
.inputGray
{
  /* margin-bottom: 20px;
  width: 173px; */
  position: relative;
  border:none;
  outline: none;
  text-decoration: none;
  margin: 0px;

}

.rowInputs{
  width:100%;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;    /* alinea elementos horizontalmente en el centro de la fila*/
  justify-content: flex-start;    /* alinea elementos verticalmente a la izquierda */
}


.rowInputs-nombre{
  width:100%;
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;    /* alinea elementos horizontalmente en el centro de la fila*/
  justify-content: flex-start;    /* alinea elementos verticalmente a la izquierda */
}

.width200{
  width: 200px;
}
/* .inputGray input
{
  text-decoration: none;
  height: 30px;
  width: 143px;
  border-radius: 20px;
  box-shadow: 1px 3px 8px rgba(84, 0, 0, 0.1);
  padding-left: 10px;
  color: #667a92;
  outline: none;
  border: none;
  font-size: 18px;
  font-family: dosis-medium ;

} */

.paddingLikeMat{
  margin-bottom: 7px;
  margin-left: -10px;
}

.inputIngrediente{
  text-decoration: none;
  height: 30px;
  width: 147px;
  border-radius: 20px;
  box-shadow: 1px 3px 8px rgba(84, 0, 0, 0.1);
  padding-left: 10px;
  color: #667a92;
  outline: none;
  border: none;
  font-size: 18px;
  font-family: dosis-medium ;
}

.inputCantidad{
  text-decoration: none;
  height: 30px;
  width: 80px;
  border-radius: 20px;
  box-shadow: 1px 3px 8px rgba(84, 0, 0, 0.1);
  padding-left: 10px;
  color: #667a92;
  outline: none;
  border: none;
  /* font-size: 18px;
  font-family: dosis-medium ; */
}

.inputCantidad input{
  text-decoration: none;
  height: 28px;
  width: 60px;
  border-radius: 20px;
  color: #667a92;
  outline: none;
  border: none;
  font-size: 18px;
  font-family: dosis-medium ;
  margin-right: 2px;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}


.inputGray label
{
  text-decoration: none;
  height: 33px;
  width: 123px;
  border-radius: 20px;
  box-shadow: 1px 3px 8px rgba(84, 0, 0, 0.1);
  padding-left: 20px;
  color: #667a92;
  font-size: 22px;
  outline: none;


}

.inputGray input:focus
{
  outline: none;
}
.inputGray input::placeholder
{
  color: #B2C1C6;
}

.inputGrayFavorito input
{
  text-decoration: none;
  background-color: rgb(255, 255, 255);

  height: 100px;
  width: inherit;
  border-radius: 20px;
  box-shadow: 1px 3px 8px rgba(84, 0, 0, 0.1);
  padding-left: 20px;
  color: #B2C1C6;

}

.inputGrayFavorito input:focus
{
  outline: none;
}
.inputGrayFavorito input::placeholder
{
  color: #B2C1C6;
}
.height100{
  height: 100%;
  margin-bottom: 20px;
}

.inputPasos textarea 
{
  min-height: 100px;
  margin-bottom: 20px;
  text-decoration: none;
  width: 260px;
  position: relative;
  white-space: nowrap;  
  resize: vertical;
  padding-left: 20px;  
  outline: none;
  border:none

}

.absolute
{
  position: absolute;
  right: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;}

.listaIngredientes
{
  width: inherit;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 1px 3px 8px rgba(84, 0, 0, 0.1);
  margin-bottom: 20px;
  margin-top: 4px;
  margin-left: 10px;
  min-height: 100px;
  height: auto;

}
.inputGray:focus
{
  outline: none;
}
.marginRight10
{
    margin-right: 10px; 
}
.marginleft10
{
    margin-left: 10px; 
}
.marginleft6
{
    margin-left: 6px; 
}
.marginBottom10
{
    margin-bottom: 10px; 
}
.marginBottom6
{
    margin-bottom: 6px; 
}
.relative
{
  position: relative;
}
.iconSizeGray
{
    height: 18px;
    width: 18px;
    color:#B2C1C6
}
.iconSizeGrayAdd
{
    height: 24px;
    width: 24px;
    /* margin-top: 3px;
    margin-right: 3px; */
}
.custom-hr-2
{
    width: 320px;
    border-bottom: solid 2px rgba(178, 193, 198, 0.185); 
    /* position: relative; */
    align-self: center;
    padding: 10px 0 10px 0;
    margin-left:10px
  }


    .quitarIngrediente{
      margin-right:4px; 
      margin-left: 4px;
      padding:2px;
      border-radius: 20px;
    box-shadow: 1px 3px 8px rgba(84, 0, 0, 0.1);
    }

    .ingredientLine{
      font-size: 18px;
    color: #667a92;
    font-family: dosis-semibold;
  
    }


    ul {
      list-style-type: none;
      padding: 0;
      -webkit-padding-start: 0;
    }



    .mensaje-container{
      width: 320px;
      padding-left: 6px;
      padding-top: 6px;
      padding-bottom: 6px;
      background-color: white;
      /* position: relative; */
      border-radius: 20px;
      border: 2px solid #5ce1e6;
      margin-left: 5px;
    }

    .link{
      text-decoration: none;
      color: #5ce1e6;
      font-family: dosis-regular;
      font-size: 16px;
      margin-left: 10px;
      cursor: pointer;
  }


  .microscore-container{
    width: 330px;
    padding-left: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: white;
    /* position: relative; */
    border-radius: 20px;
    box-shadow: 1px 3px 8px rgba(84, 0, 0, 0.1);
    margin-top:15px
    /* border: 2px solid #5ce1e6  */
  
  }