<!-- 
<div class=" contenedor">
    <div class="row-right">
        <div class="circle">X</div>
    </div>
</div>

<div class="col-center">
    <div class="col-center 100 iphoneCard">
       
            <div class=" col-center text menu-item"style="border-radius: 20px 20px 0px 0px; background-color: rgba(178, 193, 198, 0.185);;">
                <div class="row-center">
                    
                    
                        <div class="buscarNavbar">
                            <input  [(ngModel)]='busqueda' class="text" placeholder="buscar">
                        </div>
                        {{busqueda}}
        

                </div>
                <div class=" col-center  custom-hr" style="bottom: 0px; "></div>
            </div>
            <div class=" col-center text  menu-item">segunda<div class=" col-center  custom-hr"></div> </div>
            <div class=" col-center text menu-item">tercera<div class=" col-center  custom-hr"></div> </div>
            <div class=" col-center text menu-item" style="border-radius: 0px 0px 20px 20px;">cuarta<div class=" col-center  custom-hr" style="bottom: -32px; width: 85%; " ></div></div>
            
        </div>
</div> -->
