.iphoneCard
{
    margin: 20px;
    width: 340px;
    border-radius: 30px;
    
}
::ng-deep .mat-input-underline {
    display: none;
}
.border-abajo{
    border-radius: 0 0 30px 30px;
}
.iphoneCardTitle
{
    margin: 20px;
    width: 30px;
    border: 4px red;
}
.menu-item
{
    width: auto;
    height: 100px;
  /*   border: solid 0.5px 0.5px 0 0 #B2C1C6;
    border-bottom: solid 0.5px rgba(178, 193, 198, 0.685); */
    padding-left: 14px;
}
.menu-item-arriba
{
    width: auto;
    height: 100px;
  /*   border: solid 0.5px 0.5px 0 0 #B2C1C6;
    border-bottom: solid 0.5px rgba(178, 193, 198, 0.685); */
    padding-left: 14px;
    border-radius: 30px 30px 0 0;
}
.menu-item-arriba:hover
{
    background-color: #5ce1e662;
}
.menu-item-abajo
{
    width: auto;
    height: 100px;
  /*   border: solid 0.5px 0.5px 0 0 #B2C1C6;
    border-bottom: solid 0.5px rgba(178, 193, 198, 0.685); */
    padding-left: 14px;
    border-radius: 0 0 30px 30px;
}
.menu-item-abajo:hover
{
    background-color: #5ce1e662;
}

.menu-desplegable{
    width: 100px;
    height: auto;
}
.example-chip-list {
    width: 100%;

  }
  .example-chip-list input {
    width: 100%;
    border-bottom: none;
  }
  .mat-form-field-underline {
    background-color: rgb(170, 0, 0);
  }
  .mat-input-underline {
    background-color: white;
}
.custom-hr
{
    width: inherit;
    border-bottom: solid 2px rgba(178, 193, 198, 0.185); 
    position: relative;
    align-self: center;
}
.relative{
    position: relative;
}
.flechaMarginRight{
    position: absolute;
    right: 10px;
}

.menu-item:hover
{
    background-color: #5ce1e662;
}
#menuItem:hover {
    box-shadow: 0 0 12px rgba(70,150,240,0.7) inset;
    color: rgba(255,255,255,1);
  }

.circle{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        font-size: 16px;
        font-weight: 500;
        background-color:white;
        border: none;
        box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
}

.contenedor{
    width:100%;
}
 .icono{
    margin-right: 15px;
 }


.text{
    font-size: 28px;
    color: #667a92;
    text-align: center;
    font-family: dosis-bold;
    text-transform: capitalize;
  }
  .textChips{
    font-size: 20px;
    color: #667a92;
    
    font-family: dosis-semibold;
    text-transform: capitalize;
  }

  .textSubtitle
  {
    font-size: 20px;
    color: #B2C1C6;
    text-align: center;
    font-family: dosis-regular;
    text-transform:lowercase;
  }

.busqueda
{
    border:8px;
    height: auto;
    margin: 0;
    border-radius:30px;
    width: 340px;
/*     background-color:  rgba(178, 193, 198, 0.185);;
 */
    position: relative;

}
.busqueda-grande
{
    border:8px;
    height: auto;
    margin: 0;
    border-radius:370px;
    width: 340px;
/*     background-color:  rgba(178, 193, 198, 0.185);;
 */
    position: relative;

}
.width100
{
    width: 340px;
}
.busqueda::-webkit-scrollbar
{
    width: 0;
}

.menu-item-busqueda
{
    width: 100%;
    text-align: center;
    background-color:  rgba(178, 193, 198, 0.185);
}
.separadorMenu
{
    width: 30px;
    margin-left: 20px;
}
.marginLeft32
{
    margin-left: 32px;
    
}
.row-left{
    display: flex;
    flex-direction: row;
    align-content: left;
    justify-content: flex-start;
    justify-items: left;
}

.widthMenu
{
    width: 100%;
}

.iconSize
{
    height: 152px;
    width: 152px;
    min-height: 152px;
    font-size: 100px;
}
.fontAwesome {
    font-family: Helvetica, 'FontAwesome', sans-serif;
}
.relative
{
    position: relative;
}
.absolut
{
    position: absolute;
    
}
.imageProfile img
{
    width: 60px;
   border: solid 8px rgb(255, 255, 255);
    border-radius: 50%;
}

/* .flecha{
     /* transform: rotate(90deg); 
    margin-left: 5px;
    margin-right: 4px; 
} */


.chip-grande{
    width: 100px;
    border: 30px;
    height: 53px;
    font-size: 16px;
    font-weight: 500;
    background-color:white;
    border-radius: 50px;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #667a92;
    margin-left: 10px;
}
.chip-alergia{
    width: 62px;
    border: 30px;
    height: 62px;
    font-size: 16px;
    font-weight: 500;
    background-color:white;
    border-radius: 50%;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #667a92;
    margin-left: 10px;
}
.chip-alergia:hover{
   
    background-color:#5ce1e662;
    border-radius: 50%;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.1);
 
}
.chip-alergia:focus{
   
    background-color: #5ce1e662;
    border-radius: 50%;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.1);
 
}






.chip-grande-azul{
    width: 100px;
    border: 30px;
    height: 53px;
    font-size: 16px;
    font-weight: 500;
    background-color:#5ce1e662;
    border-radius: 50px;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #667a92;
    margin-left: 10px;
}
.textInputs
{
    font-size: 20px;
    color: #B2C1C6;
    text-align: left;
    font-family: dosis-semibold;
    text-transform:none;
    width: 90%;
}

.chip-material{
    width: 100px;
    border: 30px;
    height: 33px;
    font-size: 16px;
    font-weight: 500;
    background-color:white;
    border-radius: 50px;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #667a92;
    margin-left: 10px;
}
.width300{
    width: 300px;

}
.chip-material:hover{
 
    background-color:white;
 
}




.chip-material-azul{
    width: 100px;
    border: 30px;
    height: 53px;
    font-size: 16px;
    font-weight: 500;
    background-color:#5ce1e662;
    border-radius: 50px;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #667a92;
    margin-left: 10px;
}
.iconSize22
{
    height: 22px;
    width: 22px;
}
.inputGrayFavorito
{
  height: inherit;
  text-decoration: none;
  width: inherit;

}
.inputGrayFavorito input
{
  text-decoration: none;
  height: 62px;
  
  margin-left: 10px;
  border-radius: 20px;
  box-shadow: 1px 3px 8px rgba(84, 0, 0, 0.1);
  padding-left: 20px;
  color: #667a92;

}

.inputGrayFavorito input:focus
{
  outline: none;
}
.inputGrayFavorito input::placeholder
{
  color: #667a92;
}
