<div class="container">
    <app-botton-cruz routerLink="../"></app-botton-cruz>
    <div class="banner">
       
    </div>

    <div class="col-center 100 iphoneCard">
       
        
        <div class="col-left menu-item">
            <div class="row-center">
                    <div class="title">
                        ¿Cómo funciona?
                    </div>
            </div>
        </div>
        <!-- <div class="hr"></div> -->
    
    
    
        <div class="col-left button-item">

    
    
     
    
    
        <div class="hr"></div>
    
    
        <div class="col-left chart-container">
            <div class="row-left">
                    <div class="subtitle textBlueBold22">
                        Micronutrientes más abundantes:
                    </div>
            </div>
            <app-micro-score></app-micro-score>
        </div>
    
         
    
    
        <div class="hr"></div>
      
    
        <div class="menu-item width">
            <div class="row-left height">
                <div class="subtitle textBlueBold22">
                    Ingredientes
                </div>
                <div class="separador100"> </div>
                <div class="col-center relative">
                   <div> <mat-icon class="serves iconColor"  svgIcon="serves"></mat-icon></div>
                   <div class = "numeroServes">r</div>
                </div>
            </div>
        </div>
    
        <div class="col-center menu-item" >
            <div class="row-left row-item">
                <div class="check"></div>
                <div class="text">
                   
                </div>
            </div>
        </div>
       
    
        <div class=" container-pasos">
            <div class="col-left ">
                <div class="row-left row-item">
                        <div class="subtitle textBlueBold20">
                            Pasos:
                        </div>
                </div>
                <div class="row-left">
                    <div class="text pasos" >
                        <!-- {{pasos}} -->
                    </div>
                </div>
            </div>
        
           
        </div>
        
        <div class="footer"></div>
        <div class="footer"></div>
    
    </div>
    
</div>





