<div id="chart">
  <div [ngClass]="isMenos ? 'chartSmall' : 'chartGrande'">
    <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [dataLabels]="chartOptions.dataLabels"
    [plotOptions]="chartOptions.plotOptions"
    [xaxis]="chartOptions.xaxis"
    [fill]="chartOptions.fill"
    [legend]="chartOptions.legend"
    [yaxis]="chartOptions.yaxis"
    ></apx-chart>
  </div>
  <div class="textBlueRegular14 menosMargin">% Cantidad diaria recomendada</div>
  <div class="link" (click)="verMas()" *ngIf="isMenos">Ver más</div>
  <div class="link" (click)="verMenos()" *ngIf="isMas">Ver menos</div>
   
  </div>
  