
<div class="col-center">
    <br>
    <mat-icon class="iconSize colorBlue"  svgIcon="logo"></mat-icon>

    <div>
        <div class="input">
            <input placeholder="Nombre de usuario">
        </div>
        <br>
        <div class="input">
            <input placeholder="Contraseña">
        </div>
        <div class="forget">
            He olvidado la Contraseña
        </div>
        <br>
        <button class="button-blue" routerLink="../home" (click)="entrar()">entrar</button>
        <br>
        <br>
        <br>
        <br>
        <p class="text" >¿Todavía no tienes cuenta? </p>
        <button class="button-gray"  routerLink="../register" >crear cuenta</button>
    </div>
</div>