
 <!-- añadir TU DIA -->
 <app-botton-burger></app-botton-burger>
<div class="col-center 100 iphoneCard">
   
    <div class="col-center menu-item-top">
        <div class="row-center">
            <mat-icon (click)="prevDay()"svgIcon='arrow-expansion' class='colorGray flecha-izq'></mat-icon>
                <div class="title">
                    {{fecha}} 
                </div> 
                <mat-icon (click)="nextDay()" svgIcon='arrow-expansion' class='colorGray flecha-dcha'></mat-icon>
        </div>
    </div>
</div>


<!-- Recetas del día -->

<div id="recetas" class="col-center">
    <div class="iphoneCard">
       
        <div class="col-center menu-item-top">
            <div class="row-left">
                    <div class="title">
                        Planning
                    </div>
            </div>
        </div>
    
        <div class="col-center menu-item" *ngFor="let receta of plannedRecipes">
            <div class="row-left row-item">
                <div class="check" (click)="addRegister(receta.id)">
                    
                </div>
                <div class="text">
                    {{receta}}
                </div>
            </div>
        </div>
       
    
    
    <div class="col-center menu-item-bottom">
        <div class="row-center ">
                <button class="button-blue" routerLink="../buscar-receta">
                    Añadir receta
                </button>
        </div>
    </div>
</div>
</div>



<!-- Retos del día -->

<div id="retos" class="col-center">
    <div class="iphoneCard">
        <div class="col-center menu-item-top">
            <div class="row-left">
                    <div class="title">
                        Retos
                    </div>
            </div>
        </div>
    
        <div class="col-center menu-item" *ngFor="let reto of retos">
            <div class="row-left row-item">
                <div class="check" (click)="addRegister(reto.id)">
                    
                </div>
                <div class="text">
                    {{reto}}
                </div>
            </div>
        </div>
       
    
    </div>
  
    
</div>
<div class="footer"></div>





    <!-- <div class="col-center 100 iphoneCard">
       
            <div class="col-center menu-item-top">
                <div class="row-center">
                        <div class="text">
                            Día 1
                        </div>
                </div>
                <div class="custom-hr"></div>
            </div>

            <div class="col-center menu-item">
                <div class="row-center">
                        <div class="text">
                            Día 2
                        </div>
                </div>
                <div class="custom-hr"></div>
            </div>
           
            <div class="col-center menu-item-bottom">
                <div class="row-center">
                        <div class="text">
                            Día 3
                        </div>
                </div>
                <div class="custom-hr"></div>
            </div>
            
    </div> -->
