

<!-- <app-intro></app-intro>

<app-ficha-grupo></app-ficha-grupo> 
<app-home></app-home>
<app-burger-menu></app-burger-menu>
<app-calendario></app-calendario> 
<app-home></app-home>
<app-nav-bar></app-nav-bar>
<app-ficha-grupo></app-ficha-grupo> 

<app-vista-receta></app-vista-receta>-->
<!-- <app-preferencias></app-preferencias>
 -->

<router-outlet></router-outlet>
<!-- 
<div *ngIf="LoginInfoService.isDentro; else login">
<app-nav-bar></app-nav-bar>
</div>

<div #login>
    <app-login></app-login>
</div> -->


