
<div class="col-center">
    <br>
    <mat-icon class="iconSize colorBlue"  svgIcon="logo"></mat-icon>
    <div>
        <form [formGroup]="myForm">
        
                <div class="input">
                    <!-- <input type="text" class="form-control" formControlName="usuario" placeholder="Nombre de usuario"
                    [ngClass]="{'is-invalid': !myForm.get('usuario').valid}"> -->
                    <input type="text"  class="form-control"  formControlName="username" placeholder="Nombre de usuario">
                </div>  
                <!-- <div *ngIf="!myForm.get('usuario').valid" class="invalid-feedback">
                    El usuario es necesario
                </div> -->
        <br>
        <div class="input">
            <input type="text"  class="form-control" formControlName="email"  placeholder="E-mail">
        </div>
        <br>
        <div class="input">
            <input placeholder="Contraseña" type="text"  class="form-control" formControlName="password" >
        </div>
        <br>
        <br>
        
            <button class="button-blue" routerLink="../login" (click)="registrarUsuario(myForm)">crear cuenta</button>
             
        <br>
        <br>
        <div class="col-center">
            <div class="hr"></div>
            </div>
        <br>
        <br>
        <div class="row-center">
            <p class="text">Ya tengo cuenta,</p> <p class="link" routerLink="../login"> Entrar</p>
        </div>
        </form>
    </div>
</div>