<div class="header"></div>
<div class="col-center">
     <div class="col-center  iphoneCard">
         <div class=" row-left widthMenu marginLeft32">
             <div class="col-center">
                 <div class="row-center textT">Nuestros colores </div>
             </div>
         </div>                      
     </div>
     <br>
     <div class="busqueda col-center">
         <div class=" col-center textSubtitle  card-about colorWhite busqueda" >
             <div class="row-left widthMenu" >
                 <div class="marginLeft32"> 
                     <p>En nuestra app encontrarás 4 <p>
                     <p>grupos de micronutrientes.</p>
                     <p> Cada grupo tiene asignado un</p> 
                     <p>color. El cual verás reflejado</p> 
                     <p> en tus gráficas, recetas y retos</p> 
                     <p>diarios. </p>
                     <p>visita guiada</p> 
                 </div>
             </div>
         </div>
     </div>
 </div>
 <br>
 <br>
         <div class="row-center">
             <div routerLink="intro2" class="col-center push_button text">Visita guiada</div>
         </div>