<div class="header">
    <app-botton-cruz routerLink="../home"></app-botton-cruz>
</div>

   <br>
   <div class="col-center">
        <div class="col-center  iphoneCard">
            <div class=" row-left widthMenu marginLeft32">
                <div class="col-center">
                    <mat-icon svgIcon="logo" class="logo"></mat-icon>
                    <div class="row-left textT">¿Cómo funciona? </div>
                </div>
            </div>                      
        </div>
        <br>
        <div class="busquedAuto col-center">
            <div class=" col-center textBlueRegular22  card-about colorWhite busquedAuto" >
                <div class="row-left widthMenu" >
                    <div class="marginLeft12">
                        <br> 
                        <p>El objetivo de esta app es ayudarte a alcanzar la cantidad diaria de micronutrientes recomendada </p>
                        <p>¡<b>MicroCare</b> es una app muy facil de usar! <p>
                        <ol>
                            <li>Añade tus ingestas </li>
                            <li>Mira tu progreso </li>
                            <li>Prueba las recetas que te recomendamos </li>
                        </ol>
                        
                    </div>
                </div>
            </div>
            <div class=" col-center  custom-hr"></div>
        </div>
    </div>
    <div class="col-center">
        <div class="col-center  iphoneCard">
            <div class=" row-left widthMenu marginLeft32">
                <div class="col-center">
                    <br>
                    <div class="row-left textBlueSemi22">1. Añade tus ingestas </div>
                </div>
            </div>                      
        </div>
        <br>
        <div class="busquedAuto col-center">
            <div class=" col-center textBlueRegular22  card-about colorWhite busquedAuto" >
<!--                 <div class="row-left widthMenu" > -->
                   <div class="marginLeft32 marginRight32">  
                       <br>
                       <p>Pulsa el <b>botón central</b> para añadir un consumo, podrás introducir tus ingestas de forma manual o seleccionar una receta<p>
                       <mat-icon style="width: 300px; height: 100px;" svgIcon="navbar"></mat-icon>
 <!--                    </div> -->            
                </div>           
            </div>
            <div class=" col-center  custom-hr"></div>
        </div>
    </div>
    <div class="col-center">
        <div class="col-center  iphoneCard">
            <div class=" row-left widthMenu marginLeft32">
                <div class="col-center">
                    <br>
                    <div class="row-left textBlueSemi22">2. La app se pone a trabajar </div>
                </div>
            </div>                      
        </div>
        <br>
        <div class="busquedAuto col-center">
            <div class=" col-center textBlueRegular22  card-about colorWhite busquedAuto" >
<!--                 <div class="row-left widthMenu" > -->
                   <div class="marginLeft32 marginRight32"> 
                       <br> 
                        <p>La app calculará los micronutrientes de tus consumos y los añadirá a tu progreso diario, 
                            podrás ver tu progreso de cada micronutriente y de cada grupo.<p>
                            <div class="col-center">
                                <mat-icon style="width: 300px; height: 400px;" svgIcon="progreso"></mat-icon>

                                
                         

                             </div>
 <!--                    </div> -->            
                </div>           
            </div>
            <div class=" col-center  custom-hr"></div>
        </div>
    </div>

    <div class="col-center">
        <div class="col-center  iphoneCard">
            <div class=" row-left widthMenu marginLeft32">
                <div class="col-center">
                    <br>
                    <div class="row-left textBlueSemi22">3. Explora la app </div>
                </div>
            </div>                      
        </div>
        <br>
        <div class="busquedAuto col-center">
            <div class=" col-center textBlueRegular22  card-about colorWhite busquedAuto" >
<!--                 <div class="row-left widthMenu" > -->
                   <div class="marginLeft32 marginRight32"> 
                       <br> 
                        <p>Descubre todo lo que puedes hacer en <b>MicroCare</b>: <br><br>Planifica tu día, guarda tus ingestas habituales en favoritos, busca las recetas que te recomendamos según tus micronutrientes consumidos.<p><br>
                            <div class="col-center">
                                <mat-icon style="width: 300px; height: 400px;" svgIcon="receta"></mat-icon>

                                
                         

                             </div>
 <!--                    </div> -->            
                </div>           
            </div>
            <div class=" col-center  custom-hr"></div>
        </div>
    </div>


    






    
    <br>
            <div class="row-center">
                <div routerLink="../login" class="col-center push_button text">Visita guiada</div>
            </div>
             
           


        
        
        







   

      

