
 
<div class="col-center">
    
    
    <div class="col-center">
        
            <div class="col-center  iphoneCard">
                <div class=" row-left widthMenu marginLeft32">
                    <div class="col-center">
                        <mat-icon svgIcon="logo" class="logo"></mat-icon>
                    </div>
                </div>                      
            </div>
            

        </div>

        
        
      

        <div class="col-center">
            <div class="col-center  iphoneCard">
                <div class=" row-left widthMenu marginLeft32">
                    <div class="col-center">
                        <div class="row-center textBlueSemi22">Nuestros colores </div>
                    </div>
                </div>                      
            </div>
            <br>
            <div>
                
                    <div class=" col-center ">
                        <div class=" col-center textSubtitle  card-about colorWhite busquedaa" >
                            <div class="row-left widthMenu" >
                                <div class="marginLeft32"> 
                                    <p>En nuestra app encontrarás 4 <p>
                                    <p>grupos de micronutrientes.</p>
                                    <p> Cada grupo tiene asignado un</p> 
                                    <p>color. El cual verás reflejado</p> 
                                    <p> en tus gráficas, recetas y retos</p> 
                                    <p>diarios. </p>
                                    <mat-icon svgIcon="tabla_grupos" style="width: 300px; height: 300px; margin-top: 0px;"></mat-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-center  iphoneCard">
                        <div class=" row-left widthMenu marginLeft32">
                            <div class="col-center">
                                <div class="row-center textBlueSemi22">Nuestros colores </div>
                            </div>
                        </div>                      
                    </div>
                    <div class=" col-center ">
                        <div class=" col-center textSubtitle  card-about colorWhite busquedaa" >
                            <div class="row-left widthMenu" >
                                <div class="marginLeft32"> 
                                    <p>En nuestra app encontrarás 4 <p>
                                    <p>grupos de micronutrientes.</p>
                                    <p> Cada grupo tiene asignado un</p> 
                                    <p>color. El cual verás reflejado</p> 
                                    <p> en tus gráficas, recetas y retos</p> 
                                    <p>diarios. </p>
                                    <p>visita guiada</p> 
                                    <mat-icon svgIcon="tabla_grupos" style="width: 300px; height: 300px; margin-top: 0px;"></mat-icon>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <br>
        <br>
                <div class="row-center">
                    <div routerLink="../login" class="col-center push_button text">Visita guiada</div>
                </div>
</div>                    
            


            
            
            







    

        

