<app-botton-burger></app-botton-burger>

<div class="text row-left">
    Recetas
</div>
<div class="br"></div>

<app-recetas></app-recetas>

<div class="br"></div>

<div>
    <div class="tarjeta">
        <div class="br"></div>
        <div class="row-left">
            <div class="text ">
            Para ti
            </div>
        </div>
        <div class="br"></div>

        <div  class="wrapper">
            <div *ngFor="let receta of listaParaTi; let i=index" class="item" (click)="verRecetaParaTi(i)">
                <div class="row-left"> 
                    <div class="chip1" *ngIf="receta.dietas.length>0">
                        {{receta.dietas[0]}}
                    </div>
                    <div class="chip2" *ngIf="receta.dietas.length>1">
                        {{receta.dietas[1]}}
                    </div>
                </div>
                <div class="foto">
                    <img [src]="receta.photo_url">
                </div>
                <div class="row-center">
                    <div class="row-center">
                        <div class="nombre-receta">
                            {{receta.recipe_name}}
                        </div>
                    </div>
                    <div class="row-center">
                        <div class="chip-micro1">
                            {{receta.microscore[0].acronym}}
                        </div>
                        <div class="chip-micro2">
                            {{receta.microscore[1].acronym}}
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="br"></div>
        <div class="tarjeta">
            <div class="br"></div>
            <div class="row-left">
                <div class="text ">
                Nuevas en la app
                </div>
            </div>
            <div class="br"></div>

    <div class="wrapper">
        <div *ngFor="let receta of listaNuevas; let i=index" class="item" (click)="verRecetaNuevas(i)">
            <div class="row-left"> 
                <div class="chip1" *ngIf="receta.dietas.length>0">
                    {{receta.dietas[0]}}
                </div>
                <div class="chip2" *ngIf="receta.dietas.length>1">
                    {{receta.dietas[1]}}
                </div>
            </div>
            <div class="foto">
                <img [src]="receta.photo_url">
            </div>
            <div class="row-center">
                <div class="row-center">
                    <div class="nombre-receta">
                        {{receta.recipe_name}}
                    </div>
                </div>
                <div class="row-center">
                    <div class="chip-micro1">
                        {{receta.microscore[0].acronym}}
                    </div>
                    <div class="chip-micro2">
                        {{receta.microscore[1].acronym}}
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>

  <div class="footer"></div>
  <div class="footer"></div>


