<!-- menu-burger -->
<app-botton-burger></app-botton-burger>
 
 <!-- Esto debería ser el componente perfil-header -->
 
 
 <app-usuario></app-usuario>


<div class="container">
 <!-- Círculos de progreso -->

    <div class="iphoneCard">
        <div class="title textBlueBold22">Tus nutrientes hoy</div>
        <div class="row-center-wrap" *ngIf="progressService.totalProgress.user_id>0">
            <div (click)="goToGroup('vitaminas')" class="col-center">
                <app-vitamin-chart></app-vitamin-chart>
                <div class="title  textBlueSemi20">Vitaminas</div>
            </div>
            
            <div (click)="goToGroup('minerales')" class="col-center">
                <app-mineral-chart></app-mineral-chart>
                <div class="title textBlueSemi20">Minerales</div>
            </div>

            <div (click)="goToGroup('oligoelementos')" class="col-center">
                <app-aminoacid-chart></app-aminoacid-chart>
                <div class="title textBlueSemi20">Oligoelementos</div>
            </div>
            
            <div (click)="goToGroup('ácidos grasos')" class="col-center">
                <app-omegas-chart></app-omegas-chart>
                <div class="title textBlueSemi20" >Ácidos grasos</div>
            </div>
            
        </div>

    </div>

    <div class="iphoneCard">
        <div class="title textBlueBold22">Tu progreso vs otros users</div>
        <app-grafica-others *ngIf="progressService.averageProgressTotal.length>0"></app-grafica-others>
    </div>

    <div class="footer"></div>
</div>

<!-- <app-nav-bar></app-nav-bar> -->
