<div class="header"></div>
<div class="tarjeta">
    <app-botton-cruz></app-botton-cruz>
    <div class="row-center ancho100">
        <div class="circlePic"><app-micronutrient-chart></app-micronutrient-chart></div>        
    </div>

    <br>

    <div class="row-center ancho100">
        <div class="text">{{grupos[0]}}
        </div>
    </div>

    <br>
    <div class="row-left wrap ancho100 chip-container">
        <div *ngFor="let micro of micronutrientes"> 
            <div class="chip-grande" routerLink="micro">{{micro}}
            </div>
        </div>
    </div>
    <br>
    <div class="hr"></div>
    <br>

    <div class="tarjeta-peque ancho100">
        <br>
        <div class="titulo">
            {{micronutrientes[0]}}
        </div>
        <br>
        <div class="cuerpo">
            {{micronutrientes[3]}}
        </div>

    </div>

</div>

