<app-botton-cruz></app-botton-cruz>
<div class="tarjeta">
    <div class="row-center ancho100">
        <div class="circlePic"><app-micronutrient-chart></app-micronutrient-chart></div>        
    </div>

    <div class="br"></div>

    <div class="row-center ancho100">
        <div class="text">{{grupos[0]}}
        </div>
    </div>

    <div class="br"></div>
    
    <div class="sub-titulo">
        Ingredientes ricos en {{grupos[0]}}
    </div>
    <div class="br"></div>
    <div class="row-left wrap ancho100 chip-container">
        <div *ngFor="let micro of micronutrientes"> 
            <div class="chip-grande" routerLink="micro">{{micro}}
            </div>
        </div>
    </div>
    <div class="br"></div>
    <div class="custom-hr"></div>
    <div class="br"></div>

    <div class="tarjeta-peque ancho100">
        <div class="br"></div>
        <div class="titulo">
            Beneficios del {{micronutrientes[0]}} 
        </div>
        <div class="br"></div>
        <div class="cuerpo">
            {{micronutrientes[3]}}
        </div>
    </div>
</div>
<div class="footer"></div>
