<app-botton-cruz></app-botton-cruz>
<div class="tarjeta">
    <div class="row-center ancho100">
        <div class="circlePic"><app-micronutrient-chart></app-micronutrient-chart></div>        
    </div>

    <div class="br"></div>
    <div class="br"></div>
    
    <div class="row-center ancho100">
        <div class="text">{{selectedGroup.name | uppercase}}
        </div>
    </div>
    
    <div class="br"></div>
    <div class="br"></div>
    
    <div class="sub-titulo">
        Los {{selectedGroup.name}} incluyen:
    </div>
    <div class="br"></div>
    <div class="row-left wrap ancho100 chip-container">
        <div *ngFor="let micro of micronutrientsGroup; let i = index"> 
            <div (click)="rutaMicro(i)" class="chip-grande" routerLink="micro">{{micro.micronutrient_name}}
            </div>
        </div>
    </div> 
    <div class="br"></div>
    <div class="br"></div>
    <div class="br"></div>
    <div class="custom-hr"></div>
    <div class="br"></div>

    <div class="tarjeta-peque ancho100">
        <div class="br"></div>
        <div class="titulo">
            Descripción
        </div>
        <div class="br"></div>
        <div class="cuerpo">
            {{selectedGroup.description}}
        </div>
    </div>
</div>
<div class="footer"></div>
