<div class="header">
    <app-botton-cruz routerLink="../home"></app-botton-cruz>
</div>
   <br>
   <div class="col-center">
        <div class="col-center  iphoneCard">
            <div class=" row-left widthMenu marginLeft32">
                <div class="col-center">
                    <mat-icon svgIcon="logo" class="logo"></mat-icon>
                    <div class="row-left textT">Tu gestor de Micronutrientes </div>
                </div>
            </div>                      
        </div>
        <br>
        <div class="busquedAuto col-center">
            <div class=" col-center textBlueRegular22   card-about colorWhite busquedAuto" >
                <div class="row-left widthMenu" >
                    <div class="marginLeft32"> 
                        <br>
                        <p>Bienvenido a MICROCARE, la 
                            app que te ayudará a        
                             contabilizar el número de       
                             micronutrientes que necesitas       
                             a diario!       
                            Ven a descrubirnos en nuestra       
                            <a routerLink="../intro1">visita guiada</a></p> 
                    </div>
                </div>
            </div>
            <div class=" col-center  custom-hr"></div>
        </div>
    </div>
    <div class="col-center">
        <div class="col-center  iphoneCard">
            <div class=" row-left widthMenu marginLeft32">
                <div class="col-center">
                    <br>
                    <div class="row-left textBlueSemi22">¿Por qué MicroCare? </div>
                </div>
            </div>                      
        </div>
        <br>
        <div class="busquedaa col-center">
            <div class=" col-center textBlueRegular22 lineheight   card-about colorWhite busquedaa" >
<!--                 <div class="row-left widthMenu" > -->
                   <div class="marginLeft32 marginRight32">  
                        <p class="lineheight">MicroCare nace como proyecto final del Bootcamp de desarrollo web impartido por la escuela de programación <a href="http://codenotch.com">Codenotch</a><p>
                       
 <!--                    </div> -->            
                </div>           
            </div>
            <div class=" col-center  custom-hr"></div>
        </div>
    </div>
    <div class="col-center">
        <div class="col-center  iphoneCard">
            <div class=" row-left widthMenu marginLeft32">
                <div class="col-center">
                    <br>
                    <div class="row-left textBlueSemi22">¿Quiénes somos? </div>
                </div>
            </div>                      
        </div>
        <br>
        <div class="busquedAuto col-center">
            <div class=" col-center textBlueRegular22 lineheight  card-about colorWhite busquedAuto" >
<!--                 <div class="row-left widthMenu" > -->
                   <div class="marginLeft32 marginRight32"> 
                       <br> 
                        <p>Somos 3 desarroladores full stack y este es nuestro proyecto:<p>
                            <div class="col-center">
                                <a href="https://www.linkedin.com/in/isabel-sarmiento-de-sotomayor/" class="row-center"  >
                                    <mat-icon svgIcon="isa" class="iconoTeam"></mat-icon>
                                    <mat-icon svgIcon="linkedin" class="iconoLinkedin"></mat-icon>
                                </a>
                                <a href="https://www.linkedin.com/in/rodrigomolinergomez/" class="row-center"  >
                                    <mat-icon svgIcon="rodri" class="iconoTeam"></mat-icon>
                                    <mat-icon svgIcon="linkedin" class="iconoLinkedin"></mat-icon>
                                </a>
                                <a href="https://www.linkedin.com/in/fran-martinez-torres-04008551/" class="row-center"  >
                                    <mat-icon svgIcon="fran" class="iconoTeam"></mat-icon>
                                    <mat-icon svgIcon="linkedin" class="iconoLinkedin"></mat-icon>
                                </a>
                         

                             </div>
 <!--                    </div> -->            
                </div>           
            </div>
            <div class=" col-center  custom-hr"></div>
        </div>
    </div>
    <div class="col-center">
        <div class="col-center  iphoneCard">
            <div class=" row-left widthMenu marginLeft32">
                <div class="col-center">
                    <br>
                    <div class="row-left textBlueSemi22">¿Quiénes invertir en la app? </div>
                </div>
            </div>                      
        </div>
        <br>
        <div class="busquedAuto col-center">
            <div class=" col-center textBlueRegular22 lineheight  card-about colorWhite busquedAuto" >
<!--                 <div class="row-left widthMenu" > -->
                   <div class="marginLeft32 marginRight32"> 
                       <br> 
                        <p>No dudes en ponerte en contacto en <a href="mailto:microcareapp@gmail.com">microcareapp@gmail.com</a> <p>
                            <div class="col-center marginBottom22">
                        
                         

                             </div>
 <!--                    </div> -->            
                </div>           
            </div>
            <div class=" col-center  custom-hr "></div>
        </div>
    </div>

    






    
    <br>
     <!--        <div class="row-center marginBottom22">
                <div routerLink="../login" class="col-center push_button text">Visita guiada</div>
            </div> -->
             
           

            <div class="footer">
            </div>
        
        
        







   

      

