
   <br>
   <div class="col-center">
        <div class="col-center  iphoneCard">
            <div class=" row-left widthMenu marginLeft32">
                <div class="col-center">
                    <mat-icon svgIcon="logo" class="logo"></mat-icon>
                    <div class="row-left textT">Tu gestor de Micronutrientes </div>
                </div>
            </div>                      
        </div>
        <br>
        <div class="busqueda col-center">
            <div class=" col-center textSubtitle  card-about colorWhite busqueda" >
                <div class="row-left widthMenu" >
                    <div class="marginLeft32"> 
                        <p>Bienvenido a MICROCARE, la <p>
                        <p>app que te ayudará a</p>
                        <p> contabilizar el número de</p> 
                        <p> micronutrientes que necesitas</p> 
                        <p> a diario!</p> 
                        <p>Ven a descrubirnos en nuestra </p>
                        <p>visita guiada</p> 
                    </div>
                </div>
            </div>
            <div class=" col-center  custom-hr"></div>
        </div>
    </div>
    <br>
    <br>
            <div class="row-center">
                <div routerLink="../login" class="col-center push_button text">Visita guiada</div>
            </div>
             
           


        
        
        







   

      

