<div class="header"></div>
<div class="col-center">

    <div class="col-center 100 iphoneCard">
        <app-usuario></app-usuario>
        <br>
        <div class="row-left text widthMenu marginLeft32 ">Menu</div>
        <br>
        <div class="busqueda col-center" >
            <app-barra-buscador (click)=buscadorSwitch()></app-barra-buscador>
                            
                            <div class=" col-center  custom-hr"></div>
        <!--                     //// otro item //// 
         -->                        
                    <div class=" col-center  menu-item colorWhite"  routerLink="../dia" >
                                    <div class="row-left widthMenu" >
                                
                                            <div class="marginLeft32"> 
                                                <mat-icon class="iconSize colorBlue"  svgIcon="reto"></mat-icon>
                                            </div>
                                            <div class="separadorMenu"></div>
                                            <div class="text20">Planning diario</div>
                          </div>
                        </div>
                        
                          <div class=" col-center custom-hr"></div>
                                  <!--                     //// otro item //// 
                            --><div class=" col-center  menu-item colorWhite"  routerLink="../buscar-receta" >
                                <div class="row-left widthMenu" >
                                                    
                                    <div class="marginLeft32"> 
                                        <mat-icon class="iconSize colorBlue"  svgIcon="recipes"></mat-icon>
                                    </div>
                                    <div class="separadorMenu"></div>
                                    <div class="text20">Recetas</div>
                                  </div>
                                 </div>
                                 <div class=" col-center custom-hr"></div>

                                                  <!--                     //// otro item //// 
                            -->                        <div class=" col-center  menu-item colorWhite"  routerLink="preferencias" >
                                <div class="row-left widthMenu" >
                                                    
                                    <div class="marginLeft32"> 
                                        <mat-icon class="iconSize colorBlue"  svgIcon="settings"></mat-icon>
                                    </div>
                                    <div class="separadorMenu"></div>
                                    <div class="text20">Preferencias</div>
                                  </div>
                                 </div>
                                 <div class=" col-center custom-hr"></div>
                        
        <!--                 <div class=" col-center  custom-hr"></div>
         -->                <div class=" col-center  custom-hr" style="width: 90%; justify-content: center; bottom: 0.5px;" ></div>
                </div> 
                        
    </div>
</div>
        