<div class="col-center"> 

<!--     <div class="col-center iphoneCard">
         <div class="row-left text widthMenu marginLeft32 ">¿Qué has comido?</div>
 -->
 <!--             ///////////// barra menu Burger
 -->                                                            
        
                <!-- </div>  -->
                <div class="iphoneCard " >
                    <!--                     //// otro item //// 
 -->  
                        <div class="col-right-buscar menu-item ">
                            <div class="row-left  widthMenu100 relative" >
                                
                                            <div class="marginLeft32"> 
                                                <mat-icon class="iconSize colorBlue" svgIcon="search"></mat-icon>
                                            </div>
                                            <div class="separadorMenu"></div>
                                            <div class="buscarNavbar ">
                                                <input  [(ngModel)]='inputSearch' class="text  marginLeft32 " placeholder="buscar" >
                                           </div>
                                            <div class="separadorMenu"></div>
                            </div>
                                                                            
                            <div  class="absolutePressEnter marginRight32 textGraySemi20 " [ngClass]="inputSearch.length > 0 ? 'visible' : 'invisible'"> press enter <mat-icon svgIcon="enter" style="width: 20px;"></mat-icon></div>
          
                        </div>

                        <div class="custom-hr"></div>
<!--                         /////// elemento micronutriente
 -->                    <div *ngIf="inputSearch.length > 0 && micronutrientes.length > 0">    
                            <div class=" marginLeft12 marginTop5 marginBottom5 col-left menu-item-busqueda-title  textGrayRegular20" >
                                Micronutrientes:
                            </div> 


                                <div *ngFor="let micronutriente of micronutrientes">
                                        <div class="row-left widthMenu100">
                                            
                                                
                                                <div class=" widthMenu100 col-left   menu-item-busqueda   textBlueSemi20">
                                                    <p class="marginLeft32">{{micronutriente.nombre}}</p> 
                                                </div>                                                       
                                        </div>
                            </div>
                            <div class="custom-hr"></div>
                        </div>
<!--                          ////////// elemento ingredientes ////////
 -->                <div *ngIf="inputSearch.length > 0 && ingredientes.length > 0"> 
         
                        
                        <div class=" marginLeft12 marginTop5 marginBottom5 col-left menu-item-busqueda-title  textGrayRegular20">
                            Ingredientes:
                            </div> 


                            <div *ngFor="let ingrediente of ingredientes">
                                    <div class="row-left widthMenu100">
                                        
                                            
                                            <div class=" widthMenu100 col-left   menu-item-busqueda   textBlueSemi20">
                                                <p class="marginLeft32 ">{{ingrediente.nombre}}</p> 
                                            </div>                                                       
                                    </div>
                            </div>
                            <div class="custom-hr"></div>
                        </div> 
                        
<!--                          //////// elemento recetas ///////
 
 -->            <div *ngIf="inputSearch.length > 0 && recetas.length > 0">  

                    <div class=" marginLeft12 marginTop5 marginBottom5 col-left menu-item-busqueda-title  textGrayRegular20">
                            Recetas:
                        </div> 


                            <div *ngFor="let receta of recetas">
                                    <div class="row-left widthMenu100">
                                        
                                            
                                            <div class=" widthMenu100 col-left   menu-item-busqueda   textBlueSemi20">
                                                <p class="marginLeft32">{{receta.nombre}}</p> 
                                            </div>                                                       
                                    </div>
                         </div>
                         <div class="custom-hr"></div>
                </div>   

                        

                        
          
                        
    <!--                     //// otro item //// 

                    
                    <div class=" col-center custom-hr"></div>
               <div class=" col-center  custom-hr"></div>
    -->                <div class=" col-center  custom-hr" style="width: 90%; justify-content: center; bottom: 0.5px;" ></div>
                </div>
</div>
